*{
	padding: 0;
	margin:0;
	outline: none;
}

body {
	background-color: #2A2A2A;
	font-size: 14px;
}

/** NAVIGATION **/
span.logo {
	float:left;
	color:white;
	font-size: 24px;
	font-weight: bold;
	margin-top: 15px;
	line-height: 20px;
	padding: 15px 15px 15px 35px;
}

.navbar {
	background-color: #262626;
	height: 80px;
}

.navbar li {
	display: inline-block;
}

.navbar ul {
	list-style-type: none;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	float: right;
	padding: 15px 35px 15px 15px;
	margin-top: 20px;
}

.navbar li a {
	text-decoration: none;
	color: white;
	margin-right: 35px;
	text-transform: uppercase;

}

/** header **/
li.active a {
	color: #ff6760;
}

div.header{
	text-align: center;
	font-family: "open sans", sans-serif;
	color: #D8D8D8;
}

.header h1 {
	font-size: 48px;
	font-weight: 300;
	margin-top: 65px;

}

.header h2 {
	font-size: 36px;
	font-weight: 300;
	margin: 25px 0;
}

.header h1 span {
	font-weight: bold;
}

.header h2 span {
	color: #EB615B;
}

.header a {
	background-color: #FF6760;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	border-radius: 10px;
	display: inline-block;
	margin: 10px 0 75px 0;
	padding: 15px 20px;
}

/** FEATURES **/
.features {
	background-color: #F6F6F6;
	color: #616161;
	height: 450px;
}

.item {
	float: left;
	text-align: center;
	margin: 25px 0;
	padding: 5px 0 20px 0;
	width: 33.3333333333%;
}

.item h3 {
	font-size: 20px;
	padding: 5px 0;
}

.item p {
	font-size: 16px;
	padding: 10px 0;
}

/** FOOTER **/
.footer {
	text-align: center;
	color: #D8D8D8;
}

.footer h4 {
	font-size: 24px;
	margin: 50px 0 25px 0;
}

.footer p {
	color: #858585;
	font-size: 16px;
	padding: 3px 0;
}

.footer p a{
	color: #793f3d;
}

#socialicons {
	margin: 15px 0 50px 0;
}

#socialicons a {
	color: #ffffff;
	text-decoration: none;
}

#socialicons .fa-twitter {
	background-color: #5daed5;
	border-radius: 50%;
	padding: 5px;
}

#socialicons .fa-facebook {
	background-color: #4470cf;
	border-radius: 50%;
	padding: 5px 8px;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}




























